x-android-system-characteristics.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:oval="http://oval.mitre.org/XMLSchema/oval-common-5" xmlns:oval-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5" xmlns:android-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#android" xmlns:sch="http://purl.oclc.org/dsdl/schematron" targetNamespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#android" elementFormDefault="qualified" version="5.11">
     <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5" schemaLocation="oval-system-characteristics-schema.xsd"/>
     <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-common-5" schemaLocation="oval-common-schema.xsd"/>     
     <xsd:annotation>
          <xsd:documentation>The following is a description of the elements, types, and attributes that compose the Android specific system characteristic items found in Open Vulnerability and Assessment Language (OVAL). Each item is an extension of the standard item element defined in the Core System Characteristic Schema. Through extension, each item inherits a set of elements and attributes that are shared amongst all OVAL Items. Each item is described in detail and should provide the information necessary to understand what each element and attribute represents. This document is intended for developers and assumes some familiarity with XML. A high level description of the interaction between the different tests and their relationship to the Core System Characteristic Schema is not outlined here.</xsd:documentation>
          <xsd:documentation>The OVAL Schema is maintained by The MITRE Corporation and developed by the public OVAL Community. For more information, including how to get involved in the project and how to submit change requests, please visit the OVAL website at http://oval.mitre.org.</xsd:documentation>
          <xsd:appinfo>
               <schema>Android System Characteristics</schema>
               <version>5.11</version>
               <date>6/19/2012 8:58:23 AM</date>
                <terms_of_use>Copyright (c) 2002-2012, The MITRE Corporation. All rights reserved.  The contents of this file are subject to the terms of the OVAL License located at http://oval.mitre.org/oval/about/termsofuse.html. See the OVAL License for the specific language governing permissions and limitations for use of this schema.  When distributing copies of the OVAL Schema, this license header must be included.</terms_of_use>
               <sch:ns prefix="oval-sc" uri="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5"/>
               <sch:ns prefix="android-sc" uri="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#android"/>
              <sch:ns prefix="xsi" uri="http://www.w3.org/2001/XMLSchema-instance"/>
          </xsd:appinfo>
     </xsd:annotation>

     <!-- =============================================================================== -->
     <!-- ==============================  SYSTEM DETAILS  =============================== -->
     <!-- =============================================================================== -->
     <xsd:element name="system_details_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This item stores information about the Operating System and hardware.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
			      <xsd:element name="hardware" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The hardware model.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>                            
			      <xsd:element name="manufacturer" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The device manufacturer.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="model" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The device model identifier.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="product" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The product name.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="cpu_abi" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The CPU architecture.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>			      
			      <xsd:element name="build_fingerprint" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Build fingerprint.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="os_version_code_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Operating system version code.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="os_version_build_number" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Operating system build number.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="os_version_release_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Operating system release name.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="os_version_sdk_number" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Operating system SDK number.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>

     <!-- =============================================================================== -->
     <!-- ==============================  CAMERA ITEM  =============================== -->
     <!-- =============================================================================== -->
     <xsd:element name="camera_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This item stores the status (enabled?) of Camera.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
			      <xsd:element name="current_status" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The current_status entity indicates state of the Camera device.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>                            
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ==========================  PASSWORD ITEM  ================================ -->
     <!-- =============================================================================== -->
     <xsd:element name="password_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>Specific policy items associated with passwords.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="max_num_failed_user_auth" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Maximum number of failed user authentications before device wipe.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="password_hist" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Specifies the length of password history maintained.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="password_quality" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Signifies whether passwords must meet the complexity requirements put forth by the operating system.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="password_max_length" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Maximum number of characters allowed in a password.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="password_min_length" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Minimum length characters password must have.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="password_min_letters" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Minimum number of letters password must have.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="password_min_lower_case_letters" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Minimum number of lower case letters password must have.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="password_min_non_letters" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Minimum number of non-letter characters password must have.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="password_min_numeric" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Minimum number of numeric characters password must have.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>			      
			      <xsd:element name="password_min_symbols" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Minimum number of symbol characters password must have.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="password_min_upper_case_letters" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Minimum number of upper case letters password must have.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="password_expiration" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Password expiration timeout.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="password_visible" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>A boolean value that specify if password characters must be shown while keying in.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- =====================  ENCRYPTION SETTING INFO ITEM  =========================== -->
     <!-- =============================================================================== -->
     <xsd:element name="encryption_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>Encryption setting used.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="encryption_status" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Enabled encryption setting.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>                              
			      <xsd:element name="storage_encryption_status" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Enabled encryption setting.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>               
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- =============================  DEVICE ACCESS ITEM  ================================ -->
     <!-- =============================================================================== -->
     <xsd:element name="device_access_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This holds information about device accessibility settings.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="screen_lock_timeout" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Time out in seconds before the screen locks</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>                             
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ============================  LOCATION SERVICE ITEM  ========================== -->
     <!-- =============================================================================== -->
     <xsd:element name="location_service_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This holds information about location based service status.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="gps_enabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>A boolean value indicating GPS status.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="network" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Configured to use the network.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>                             
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- ===========================  WIFI ITEM  ======================================= -->
     <!-- =============================================================================== -->
     <xsd:element name="wifi_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This item holds information about general WIFI settings.</xsd:documentation>            
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
			      <xsd:element name="wifi_status" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Is WIFI enabled.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="network_availability_notification" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>A boolean value indicating WIFI network availability notification setting.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="open_networkds" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>An integer value indicating number of open networks kept.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
      <!-- =============================================================================== -->
     <!-- ===========================  WIFI SECURITY ITEM  =============================== -->
     <!-- =============================================================================== -->
     <xsd:element name="wifi_security_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This item holds information about security configuration of WIFI networks.</xsd:documentation>            
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
			      <xsd:element name="bssid" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>BSSID. The value is a string in the format of an Ethernet MAC address.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="ssid" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The network's SSID.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="auth_algorithms" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The set of authentication protocols supported by this configuration.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="group_ciphers" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The set of group ciphers supported by this configuration.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="key_management" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The set of key management protocols supported by this configuration.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="pairwise_ciphers" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The set of pairwise ciphers for WPA supported by this configuration.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="protocols" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The set of security protocols supported by this configuration.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="hidden_ssid" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>This is a network that does not broadcast its SSID.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="network_id" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The ID number that the supplicant uses to identify this network configuration entry.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="priority" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Priority determines the preference given to a network by wpa_supplicant when choosing an access point with which to associate.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="current_status" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>The current status of this network configuration entry.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- =========================  BLUETOOTH STATUS ITEM  ============================= -->
     <!-- =============================================================================== -->
     <xsd:element name="bluetooth_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This holds information about device Bluetooth settings.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="discoverable" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Device Bluetooth is discoverable?</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="current_status" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Bluetooth is enabled?</xsd:documentation>
                                   </xsd:annotation>                                   
                              </xsd:element>                             
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
     <!-- =============================================================================== -->
     <!-- =======================  APPLICATION MANAGER ITEM  ============================ -->
     <!-- =============================================================================== -->
     <xsd:element name="app_manager_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This item stores information about applications installed on the device.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="application_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Name of the application.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="process_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Name of the process that the application launches.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="uid" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Unique ID assigned to the application.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>	
			      <xsd:element name="gid" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Group id that the user belongs to in the underlying sandbox.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="user_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Name of the user correspoing to uid. Usually defaults to uid.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="package_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Name of the package.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="data_directory" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Data directory assigned to the application.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="version" type="oval-sc:EntityItemVersionType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Application version.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="current_status" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Application is enabled or disabled.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="permissions" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Comma separated list of permission that the app should be having in order to run as intended</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
			      <xsd:element name="native_lib_dir" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Directory where its native libraries(if any) needs to be installed/copied.</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>  

     <!-- =============================================================================== -->
     <!-- =========================  NETWORK ITEM  ============================= -->
     <!-- =============================================================================== -->
     <xsd:element name="network_preference_item" substitutionGroup="oval-sc:item">
          <xsd:annotation>
               <xsd:documentation>This holds information about networks configured and their preference.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
               <xsd:complexContent>
                    <xsd:extension base="oval-sc:ItemType">
                         <xsd:sequence>
                              <xsd:element name="preference" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Preference is given to which network?</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>                                                     
			      <xsd:element name="airplane_mode" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                                   <xsd:annotation>
                                        <xsd:documentation>Is Airplane mode enabled?</xsd:documentation>
                                   </xsd:annotation>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:extension>
               </xsd:complexContent>
          </xsd:complexType>
     </xsd:element>
</xsd:schema>
