x-asa-snmp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:oval="http://oval.mitre.org/XMLSchema/oval-common-5" xmlns:oval-def="http://oval.mitre.org/XMLSchema/oval-definitions-5" xmlns:oval-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5" xmlns:asa-def="http://oval.mitre.org/XMLSchema/oval-definitions-5#asa" xmlns:asa-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#asa" xmlns:x-asa-snmp="http://oval.mitre.org/XMLSchema/x-asa-snmp" xmlns:sch="http://purl.oclc.org/dsdl/schematron" targetNamespace="http://oval.mitre.org/XMLSchema/x-asa-snmp" elementFormDefault="qualified" version="5.11">
    <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-definitions-5" schemaLocation="oval-definitions-schema.xsd"/>
    <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5" schemaLocation="oval-system-characteristics-schema.xsd"/>
    <xsd:annotation>
        <xsd:documentation>The following is a proposal for the experimental asa-def:snmp_host_test and asa-sc:snmp_host_item that will support checking the output lines of SNMP host configurations on Cisco ASA devices.</xsd:documentation>
        <xsd:documentation>Thanks to Omar Santos and Panos Kampanakis of Cisco for providing this test.</xsd:documentation>
        <xsd:appinfo>
            <schema>Experimental Schema for the Cisco ASA SNMP Test</schema>
            <version>5.11</version>
            <date>7/19/2012 4:03:00 PM</date>
            <terms_of_use>Copyright (c) 2002-2012, The MITRE Corporation. All rights reserved. The contents of this file are subject to the terms of the OVAL License located at http://oval.mitre.org/oval/about/termsofuse.html. See the OVAL License for the specific language governing permissions and limitations for use of this schema. When distributing copies of the OVAL Schema, this license header must be included.</terms_of_use>
            <sch:ns prefix="oval-def" uri="http://oval.mitre.org/XMLSchema/oval-definitions-5"/>
            <sch:ns prefix="oval-sc" uri="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5"/>
            <sch:ns prefix="asa-def" uri="http://oval.mitre.org/XMLSchema/oval-definitions-5#asa"/>
            <sch:ns prefix="asa-sc" uri="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#asa"/>
            <sch:ns prefix="x-asa-snmp" uri="http://oval.mitre.org/XMLSchema/x-asa-snmp"/>
            <sch:ns prefix="xsi" uri="http://www.w3.org/2001/XMLSchema-instance"/>
        </xsd:appinfo>
    </xsd:annotation>

    <!-- =============================================================================== -->
    <!-- ============================= ASA SNMP HOST TEST ============================== -->
    <!-- =============================================================================== -->
    <xsd:element name="snmp_host_test" substitutionGroup="oval-def:test">
        <xsd:annotation>
            <xsd:documentation>The snmp_host test is used to check the properties of specific output lines from an SNMP configuration.</xsd:documentation>
            <xsd:appinfo>
                <oval:element_mapping>
                    <oval:test>snmp_host_test</oval:test>
                    <oval:object>snmp_host_object</oval:object>
                    <oval:state>snmp_host_state</oval:state>
                    <oval:item target_namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#x-asa-snmp">snmp_host_item</oval:item>
                </oval:element_mapping>
            </xsd:appinfo>
            <xsd:appinfo>
                <sch:pattern id="x-asa-snmp_hosttst">
                    <sch:rule context="x-asa-snmp:snmp_host_test/x-asa-snmp:object">
                        <sch:assert test="@object_ref=ancestor::oval-def:oval_definitions/oval-def:objects/x-asa-snmp:snmp_host_object/@id"><sch:value-of select="../@id"/> - the object child element of an snmp_host_test must reference an snmp_host_object</sch:assert>
                    </sch:rule>
                    <sch:rule context="x-asa-snmp:snmp_host_test/x-asa-snmp:state">
                        <sch:assert test="@state_ref=ancestor::oval-def:oval_definitions/oval-def:states/x-asa-snmp:snmp_host_state/@id"><sch:value-of select="../@id"/> - the state child element of an snmp_host_test must reference an snmp_host_state</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-def:TestType">
                    <xsd:sequence>
                        <xsd:element name="object" type="oval-def:ObjectRefType"/>
                        <xsd:element name="state" type="oval-def:StateRefType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="snmp_host_object" substitutionGroup="oval-def:object">
        <xsd:annotation>
            <xsd:documentation>The snmp_host_object element is used by an snmp_host test to define the object to be evaluated. Each object extends the standard ObjectType as defined in the oval-definitions-schema and one should refer to the ObjectType description for more information. The common set element allows complex objects to be created using filters and set logic. Again, please refer to the description of the set element in the oval-definitions-schema.</xsd:documentation>
            <xsd:documentation>A snmp_host object consists of a host entity that is the host of the 'snmp host' ASA command to be tested.</xsd:documentation>
            <xsd:appinfo>
                <sch:pattern id="x-asa-snmp_snmp_host_object_verify_filter_state">
                    <sch:rule context="x-asa-snmp:snmp_host_object//oval-def:filter">
                        <sch:let name="parent_object" value="ancestor::x-asa-snmp:snmp_host_object"/>
                        <sch:let name="parent_object_id" value="$parent_object/@id"/>
                        <sch:let name="state_ref" value="."/>
                        <sch:let name="reffed_state" value="ancestor::oval-def:oval_definitions/oval-def:states/*[@id=$state_ref]"/>
                        <sch:let name="state_name" value="local-name($reffed_state)"/>
                        <sch:let name="state_namespace" value="namespace-uri($reffed_state)"/>
                        <sch:assert test="(($state_namespace='http://oval.mitre.org/XMLSchema/oval-definitions-5#x-asa-snmp') and ($state_name='snmp_host_state'))">State referenced in filter for <sch:value-of select="name($parent_object)"/> '<sch:value-of select="$parent_object_id"/>' is of the wrong type.</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-def:ObjectType">
                    <xsd:sequence>
                        <xsd:choice>
                            <xsd:element ref="oval-def:set"/>
                            <xsd:sequence>
                                <xsd:element name="host" type="oval-def:EntityObjectStringType">
                                    <xsd:annotation>
                                        <xsd:documentation>The SNMP host address or hostname.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element ref="oval-def:filter" minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="snmp_host_state" substitutionGroup="oval-def:state">
        <xsd:annotation>
            <xsd:documentation>The snmp_host_state element defines the different information that can be used to evaluate the result of a specific 'snmp host' ASA command. This includes the host and the corresponding options. Please refer to the individual elements in the schema for more details about what each represents.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-def:StateType">
                    <xsd:sequence>
                        <xsd:element name="interface" type="oval-def:EntityStateStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The interface configured for the host.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="host" type="oval-def:EntityStateStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The SNMP host address or hostname.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="snmpv3_user" type="oval-def:EntityStateStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The community SNMPv3 user configured for the host.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="version" type="x-asa-snmp:EntityStateSNMPVersionStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The SNMP version.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="poll" type="oval-def:EntityStateBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>SNMP polls enabled for the host.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
						<xsd:element name="traps" type="oval-def:EntityStateBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>SNMP traps enabled for the host.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
						<xsd:element name="udp_port" type="oval-def:EntityStateIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>SNMP port configured for the host.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- =============================================================================== -->
    <!-- ============================= ASA SNMP USER TEST ============================== -->
    <!-- =============================================================================== -->
    <xsd:element name="snmp_user_test" substitutionGroup="oval-def:test">
        <xsd:annotation>
            <xsd:documentation>The snmp_user test is used to check the properties of specific output lines from an SNMP user configuration.</xsd:documentation>
            <xsd:appinfo>
                <oval:element_mapping>
                    <oval:test>snmp_user_test</oval:test>
                    <oval:object>snmp_user_object</oval:object>
                    <oval:state>snmp_user_state</oval:state>
                    <oval:item target_namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#x-asa-snmp">snmp_user_item</oval:item>
                </oval:element_mapping>
            </xsd:appinfo>
            <xsd:appinfo>
                <sch:pattern id="x-asa-snmp_usertst">
                    <sch:rule context="x-asa-snmp:snmp_user_test/x-asa-snmp:object">
                        <sch:assert test="@object_ref=ancestor::oval-def:oval_definitions/oval-def:objects/x-asa-snmp:snmp_user_object/@id"><sch:value-of select="../@id"/> - the object child element of an snmp_user_test must reference an snmp_user_object</sch:assert>
                    </sch:rule>
                    <sch:rule context="x-asa-snmp:snmp_user_test/x-asa-snmp:state">
                        <sch:assert test="@state_ref=ancestor::oval-def:oval_definitions/oval-def:states/x-asa-snmp:snmp_user_state/@id"><sch:value-of select="../@id"/> - the state child element of an snmp_user_test must reference an snmp_user_state</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-def:TestType">
                    <xsd:sequence>
                        <xsd:element name="object" type="oval-def:ObjectRefType"/>
                        <xsd:element name="state" type="oval-def:StateRefType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="snmp_user_object" substitutionGroup="oval-def:object">
        <xsd:annotation>
            <xsd:documentation>The snmp_user_object element is used by an snmp_user test to define the object to be evaluated. Each object extends the standard ObjectType as defined in the oval-definitions-schema and one should refer to the ObjectType description for more information. The common set element allows complex objects to be created using filters and set logic. Again, please refer to the description of the set element in the oval-definitions-schema.</xsd:documentation>
            <xsd:documentation>A snmp_user object consists of a name entity that is the name of the SNMP user to be tested.</xsd:documentation>
            <xsd:appinfo>
                <sch:pattern id="x-asa-snmp_snmp_user_object_verify_filter_state">
                    <sch:rule context="x-asa-snmp:snmp_user_object//oval-def:filter">
                        <sch:let name="parent_object" value="ancestor::x-asa-snmp:snmp_user_object"/>
                        <sch:let name="parent_object_id" value="$parent_object/@id"/>
                        <sch:let name="state_ref" value="."/>
                        <sch:let name="reffed_state" value="ancestor::oval-def:oval_definitions/oval-def:states/*[@id=$state_ref]"/>
                        <sch:let name="state_name" value="local-name($reffed_state)"/>
                        <sch:let name="state_namespace" value="namespace-uri($reffed_state)"/>
                        <sch:assert test="(($state_namespace='http://oval.mitre.org/XMLSchema/oval-definitions-5#x-asa-snmp') and ($state_name='snmp_user_state'))">State referenced in filter for <sch:value-of select="name($parent_object)"/> '<sch:value-of select="$parent_object_id"/>' is of the wrong type.</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-def:ObjectType">
                    <xsd:sequence>
                        <xsd:choice>
                            <xsd:element ref="oval-def:set"/>
                            <xsd:sequence>
                                <xsd:element name="name" type="oval-def:EntityObjectStringType">
                                    <xsd:annotation>
                                        <xsd:documentation>The SNMP user name.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element ref="oval-def:filter" minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="snmp_user_state" substitutionGroup="oval-def:state">
        <xsd:annotation>
            <xsd:documentation>The snmp_user_state element defines the different information that can be used to evaluate the result of a specific 'show snmp-serveruser' ASA command. This includes the user name and the corresponding options. Please refer to the individual elements in the schema for more details about what each represents.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-def:StateType">
                    <xsd:sequence>
                        <xsd:element name="name" type="oval-def:EntityStateStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The SNMP user name.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="group" type="oval-def:EntityStateStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The SNMP group the user belongs to.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="priv" type="x-asa-snmp:EntityStateSNMPPrivStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The SNMP encryption type for the user (for SNMPv3).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="auth" type="x-asa-snmp:EntityStateSNMPAuthStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The SNMP authentication type for the user (for SNMPv3).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- =============================================================================== -->
    <!-- ============================= ASA SNMP GROUP TEST ============================= -->
    <!-- =============================================================================== -->
    <xsd:element name="snmp_group_test" substitutionGroup="oval-def:test">
        <xsd:annotation>
            <xsd:documentation>The snmp_group test is used to check the properties of specific output lines from an SNMP group configuration.</xsd:documentation>
            <xsd:appinfo>
                <oval:element_mapping>
                    <oval:test>snmp_group_test</oval:test>
                    <oval:object>snmp_group_object</oval:object>
                    <oval:state>snmp_group_state</oval:state>
                    <oval:item target_namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#x-asa-snmp">snmp_group_item</oval:item>
                </oval:element_mapping>
            </xsd:appinfo>
            <xsd:appinfo>
                <sch:pattern id="x-asa-snmp_grouptst">
                    <sch:rule context="x-asa-snmp:snmp_group_test/x-asa-snmp:object">
                        <sch:assert test="@object_ref=ancestor::oval-def:oval_definitions/oval-def:objects/x-asa-snmp:snmp_group_object/@id"><sch:value-of select="../@id"/> - the object child element of an snmp_group_test must reference an snmp_group_object</sch:assert>
                    </sch:rule>
                    <sch:rule context="x-asa-snmp:snmp_group_test/x-asa-snmp:state">
                        <sch:assert test="@state_ref=ancestor::oval-def:oval_definitions/oval-def:states/x-asa-snmp:snmp_group_state/@id"><sch:value-of select="../@id"/> - the state child element of an snmp_group_test must reference an snmp_group_state</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-def:TestType">
                    <xsd:sequence>
                        <xsd:element name="object" type="oval-def:ObjectRefType"/>
                        <xsd:element name="state" type="oval-def:StateRefType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="snmp_group_object" substitutionGroup="oval-def:object">
        <xsd:annotation>
            <xsd:documentation>The snmp_group_object element is used by an snmp_group test to define the object to be evaluated. Each object extends the standard ObjectType as defined in the oval-definitions-schema and one should refer to the ObjectType description for more information. The common set element allows complex objects to be created using filters and set logic. Again, please refer to the description of the set element in the oval-definitions-schema.</xsd:documentation>
            <xsd:documentation>A snmp_group object consists of a name entity that is the name of the SNMP group to be tested.</xsd:documentation>
            <xsd:appinfo>
                <sch:pattern id="x-asa-snmp_snmp_group_object_verify_filter_state">
                    <sch:rule context="x-asa-snmp:snmp_group_object//oval-def:filter">
                        <sch:let name="parent_object" value="ancestor::x-asa-snmp:snmp_group_object"/>
                        <sch:let name="parent_object_id" value="$parent_object/@id"/>
                        <sch:let name="state_ref" value="."/>
                        <sch:let name="reffed_state" value="ancestor::oval-def:oval_definitions/oval-def:states/*[@id=$state_ref]"/>
                        <sch:let name="state_name" value="local-name($reffed_state)"/>
                        <sch:let name="state_namespace" value="namespace-uri($reffed_state)"/>
                        <sch:assert test="(($state_namespace='http://oval.mitre.org/XMLSchema/oval-definitions-5#x-asa-snmp') and ($state_name='snmp_group_state'))">State referenced in filter for <sch:value-of select="name($parent_object)"/> '<sch:value-of select="$parent_object_id"/>' is of the wrong type.</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-def:ObjectType">
                    <xsd:sequence>
                        <xsd:choice>
                            <xsd:element ref="oval-def:set"/>
                            <xsd:sequence>
                                <xsd:element name="name" type="oval-def:EntityObjectStringType">
                                    <xsd:annotation>
                                        <xsd:documentation>The SNMP group name.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element ref="oval-def:filter" minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="snmp_group_state" substitutionGroup="oval-def:state">
        <xsd:annotation>
            <xsd:documentation>The snmp_group_state element defines the different information that can be used to evaluate the result of a specific 'snmp-server group' ASA command. This includes the user name and the corresponding options. Please refer to the individual elements in the schema for more details about what each represents.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-def:StateType">
                    <xsd:sequence>
                        <xsd:element name="name" type="oval-def:EntityStateStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The SNMP group name.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="snmpv3_sec_level" type="x-asa-snmp:EntityStateSNMPSecLevelStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The SNMPv3 security configured for the group.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- =============================================================================== -->
    <!-- ============================  SNMP STATE TYPES  =============================== -->
    <!-- =============================================================================== -->
    <xsd:complexType name="EntityStateSNMPVersionStringType">
        <xsd:annotation>
            <xsd:documentation>The EntityStateSNMPVersionStringType complex type restricts a string value to a specific set of values: 1, 2c, 3. These values describe the SNMP version in a Cisco ASA configuration.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-def:EntityStateStringType">
                <xsd:enumeration value="1"/>
                <xsd:enumeration value="2C"/>
                <xsd:enumeration value="3"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="EntityStateSNMPSecLevelStringType">
        <xsd:annotation>
            <xsd:documentation>The EntityStateSNMPVersionStringType complex type restricts a string value to a specific set of values: PRIV, AUTH, NO_AUTH. These values describe the SNMP security level (encryption, Authentication, None) in a Cisco ASA SNMPv3 related configurations.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-def:EntityStateStringType">
                <xsd:enumeration value="PRIV"/>
                <xsd:enumeration value="AUTH"/>
                <xsd:enumeration value="NO_AUTH"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="EntityStateSNMPAuthStringType">
        <xsd:annotation>
            <xsd:documentation>The EntityStateSNMPAuthStringType complex type restricts a string value to a specific set of values: MD5, SHA. These values describe the authentication algorithm in a Cisco ASA SNMPv3 related configurations.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-def:EntityStateStringType">
                <xsd:enumeration value="MD5"/>
                <xsd:enumeration value="SHA"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="EntityStateSNMPPrivStringType">
        <xsd:annotation>
            <xsd:documentation>The EntityStateSNMPPrivStringType complex type restricts a string value to a specific set of values: DES, 3DES, AES128, AES192, and AES256. These values describe the encryption algorithm in a Cisco ASA SNMPv3 related configurations.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-def:EntityStateStringType">
                <xsd:enumeration value="DES"/>
                <xsd:enumeration value="3DES"/>
                <xsd:enumeration value="AES128"/>
				<xsd:enumeration value="AES192"/>
				<xsd:enumeration value="AES256"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>

    <!-- =============================================================================== -->
    <!-- ========================  ASA SNMP HOST ITEM   ================================ -->
    <!-- =============================================================================== -->
    <xsd:element name="snmp_host_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>Stores information about the SNMP host configuration in ASA. That information includes the host, the community or user strings, the SNMP version, the snmp security (if the SNMP version is SNMPv3) and the SNMP traps. </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="interface" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the interface configured for the host.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="host" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP host address or hostname.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="snmpv3_user" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the community sting or SNMPv3 user configured for the host.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>						
                        <xsd:element name="version" type="x-asa-snmp:EntityItemSNMPVersionStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP version.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="poll" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element used for when the SNMP polls are enabled for the host.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="traps" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element used for when the SNMP polls are enabled for the host.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="udp_port" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element used for the SNMP port configured for the host.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- =============================================================================== -->
    <!-- =========================  ASA SNMP USER ITEM   =============================== -->
    <!-- =============================================================================== -->
    <xsd:element name="snmp_user_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>Stores information about an SNMP user configuration in ASA. That information includes the user name, the SNMP group he belongs to, the SNMP version, the IPv4 or IPv6 ACL it is applied to, the Security Level and the Authentication type that apply to the user (for SNMPv3).</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP user name.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="group" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP group the user belongs to.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="priv" type="x-asa-snmp:EntityItemSNMPPrivStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP encryption type for the user (for SNMPv3).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="auth" type="x-asa-snmp:EntityItemSNMPAuthStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP authentication type for the user (for SNMPv3).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- =============================================================================== -->
    <!-- =========================  ASA SNMP GROUP ITEM   ============================== -->
    <!-- =============================================================================== -->
    <xsd:element name="snmp_group_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>Stores information about an SNMP group configuration in ASA. That information includes the group name, the SNMP version, the IPv4 or IPv6 ACL it is applied to and the read, write and/or notify views applied to the group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMP group name.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="snmpv3_sec_level" type="x-asa-snmp:EntityItemSNMPSecLevelStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Element with the SNMPv3 security configure for the group.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- =============================================================================== -->
    <!-- ===============================  SNMP ITEM TYPES  ============================= -->
    <!-- =============================================================================== -->
    <xsd:complexType name="EntityItemSNMPVersionStringType">
        <xsd:annotation>
            <xsd:documentation>The EntityItemSNMPVersionStringType complex type restricts a string value to a specific set of values: 1, 2c, 3. These values describe the SNMP version in a Cisco ASA configuration.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="1"/>
                <xsd:enumeration value="2C"/>
                <xsd:enumeration value="3"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="EntityItemSNMPSecLevelStringType">
        <xsd:annotation>
            <xsd:documentation>The EntityItemSNMPVersionStringType complex type restricts a string value to a specific set of values: PRIV, AUTH, NO_AUTH. These values describe the SNMP security level (encryption, Authentication, None) in a Cisco ASA SNMPv3 related configurations.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-def:EntityStateStringType">
                <xsd:enumeration value="PRIV"/>
                <xsd:enumeration value="AUTH"/>
                <xsd:enumeration value="NO_AUTH"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="EntityItemSNMPAuthStringType">
        <xsd:annotation>
            <xsd:documentation>The EntityItemSNMPAuthStringType complex type restricts a string value to a specific set of values: MD5, SHA. These values describe the authentication algorithm in a Cisco ASA SNMPv3 related configurations.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="MD5"/>
                <xsd:enumeration value="SHA"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="EntityItemSNMPPrivStringType">
        <xsd:annotation>
            <xsd:documentation>The EntityItemSNMPPrivStringType complex type restricts a string value to a specific set of values: DES, 3DES, AES128, AES192, and AES256. These values describe the encryption algorithm in a Cisco ASA SNMPv3 related configurations.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="DES"/>
                <xsd:enumeration value="3DES"/>
                <xsd:enumeration value="AES128"/>
				<xsd:enumeration value="AES192"/>
				<xsd:enumeration value="AES256"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>
