x-iis78-system-characteristics-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:oval-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5" xmlns:oval="http://oval.mitre.org/XMLSchema/oval-common-5" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:x-iis78-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#iis" targetNamespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#iis" elementFormDefault="qualified" version="5.11">
    <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5" schemaLocation="oval-system-characteristics-schema.xsd"/>
    <xsd:annotation>
        <xsd:documentation>The following is a proposal for the experimental system characteristics that will support assessment of Microsoft IIS servers/sites.  Each item is an extension of the standard item element defined in the Core System Characteristics Schema. Through extension, each item inherits a set of elements and attributes that are shared amongst all OVAL items. Each item is described in detail and should provide the information necessary to understand what each element and attribute represents. This document is intended for developers and assumes some familiarity with XML. A high level description of the interaction between the different items and their relationship to the Core System Characteristics Schema is not outlined here.</xsd:documentation>
        <xsd:documentation>The OVAL Schema is maintained by The MITRE Corporation and developed by the public OVAL Community. For more information, including how to get involved in the project and how to submit change requests, please visit the OVAL website at http://oval.mitre.org.</xsd:documentation>
        <xsd:appinfo>
            <schema>Experimental Schema for IIS versions 7, 7.5, 8, 8.5 System Characteristics</schema>
            <version>5.11</version>
            <date>11/1/2014 8:00:00 AM</date>
            <terms_of_use>Copyright (c) 2002-2013, The MITRE Corporation. All rights reserved. The contents of this file are subject to the terms of the OVAL License located at http://oval.mitre.org/oval/about/termsofuse.html. See the OVAL License for the specific language governing permissions and limitations for use of this schema. When distributing copies of the OVAL Schema, this license header must be included.</terms_of_use>
            <sch:ns prefix="oval-def" uri="http://oval.mitre.org/XMLSchema/oval-definitions-5"/>
            <sch:ns prefix="oval-sc" uri="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5"/>
            <sch:ns prefix="x-iis78-sc" uri="http://oval.mitre.org/XMLSchema/x-iis78"/>
            <sch:ns prefix="xsi" uri="http://www.w3.org/2001/XMLSchema-instance"/>
        </xsd:appinfo>
    </xsd:annotation>
    
    <!-- =============================================================================== -->
    <!-- IIS Application Host Configuration Test -->
    <!-- =============================================================================== -->
    <xsd:element name="applicationhostconfig_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>
                The Application Host Configuration Item contains global configuration settings that 
                are used by the Windows Process Activation Service (WAS) in Internet Information Services (IIS). 
                This element defines many of the server-level configuration settings in the IIS 7 ApplicationHost.config file.
                Of significant importance, the Application Host Configuration Item contains the configuration settings for the 
                Application Pools and Sites, which respectively define the collection of application pools and Web sites on 
                an IIS server.  Note: Unlike the settings that are found in system.webServer, settings in the Application 
                Host Configuration Item element cannot be delegated.
            </xsd:documentation>
            <xsd:documentation>
                Each item extends the standard ItemType as defined in the oval-system-characteristics-schema and one should refer to the ItemType description for more information.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="allow_unlisted_isapis" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates whether or not users can copy unauthorized ISAPI binaries to the web server and run them</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="allow_unlisted_cgis" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates whether or not users can copy unauthorized CGI binaries to the web server and run them</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="advanced_logging_enabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates whether or not IIS advanced logging is enabled.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="default_web_log_directory " type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates the physical path to the default IIS Web Logs</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- IIS Web Configuration Test -->
    <!-- =============================================================================== -->
    <xsd:element name="webconfig_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>
                The Web Configuration Item specifies many of the site-level and application-level 
                configuration settings for Internet Information Services (IIS) 7 and above in the 
                ApplicationHost.config file, and contains configuration elements that define the 
                settings used by the Web server engine and modules.
            </xsd:documentation>
            <xsd:documentation>
                Each item extends the standard ItemType as defined in the oval-system-characteristics-schema and one should refer to the ItemType description for more information.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="site_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The name of the IIS managed Site</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="application_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The name of the application.  This value will be empty for site-level configuration information, as well as for virtual directories which are non-application related.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="virtual_directory_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The name of the virtual directory.  This value will be empty for site-level configuration information, as well as for application-related configurations.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="physical_path" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>From a site or directory's configuration page, click Basic Settings.  See Physical Path field</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="directory_browse_enabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Is directory browsing enabled?</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="anonymous_authentication_enabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Is anonymous authentication enabled?</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="anonymous_authentication_username" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specific username tied to the anonymous user identity</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="dynamic_ip_concurrent_enabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Is 'Deny IP Address based on the number of concurrent requests' enabled?  This element is applicable only to IIS 8/8.5</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="dynamic_ip_max_concurrent" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Maximum number of concurrent requests.  This element is applicable only to IIS 8/8.5</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="http_error_mode" type="x-iis78-sc:EntityItemHttpErrorModeType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates how detailed error messages are displayed to users</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="request_limits_max_content_length" type="oval-sc:EntityItemFloatType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Maximum size, in bytes, of the HTTP request</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="request_limits_max_url" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Maximum length, in bytes, in which a requested URL can be (excluding query string) in order for IIS to accept.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="request_limits_max_query" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The upper limit on the length of the query string that the configured IIS server will allow for websites or applications.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="request_filter_allow_high_bit" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates whether or not a request will be accepted or denied if non-ASCII characters are present in the URL</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="request_filter_allow_double_escaping" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates whether or not double-encoded requests are allowed</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="request_filter_allow_unlisted_extensions" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates whether or not requests for resources containing unlisted file extensions are allowed.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="handler_access_policy" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates the allowed permissions for handler mappings</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="request_filter_allow_trace" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates whether or not to allow usage of HTTP TRACE methods</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- IIS Application Pool Test -->
    <!-- =============================================================================== -->
    <xsd:element name="applicationpool_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>
                An Application Pool Item contains configuration settings for all application pools 
                running on your Internet Information Services (IIS) 7 or later server. An application 
                pool defines a group of one or more worker processes, configured with common settings 
                that serve requests to one or more applications that are assigned to that application 
                pool. Because application pools allow a set of Web applications to share one or more 
                similarly configured worker processes, they provide a convenient way to isolate a set 
                of Web applications from other Web applications on the server computer. Process 
                boundaries separate each worker process; therefore, application problems in one 
                application pool do not affect Web sites or applications in other application pools. 
                Application pools significantly increase both the reliability and manageability of 
                your Web infrastructure.
            </xsd:documentation>
            <xsd:documentation>
                Each item extends the standard ItemType as defined in the oval-system-characteristics-schema and one should refer to the ItemType description for more information.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="applicationpool_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The name of the application pool</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="identity_type" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The identity for which the application pool is executed</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="application_count" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The number of applications to which this application pool is associated</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- IIS Site Bindings Test -->
    <!-- =============================================================================== -->
    <xsd:element name="bindings_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>
                The Bindings Item element allows you to configure the information required for requests to communicate with a Web site.  
                You can configure binding information when you create a Web site, or you can edit the binding information after you 
                create the site. Binding information includes the protocol that clients use to communicate with the site, the site's 
                IP address, the port number, and a host header.
            </xsd:documentation>
            <xsd:documentation>
                Each item extends the standard ItemType as defined in the oval-system-characteristics-schema and one should refer to the ItemType description for more information.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="site_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The name of the site</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="protocol" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>protocol for the binding, such as HTTP or HTTPS.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ip_address" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>IP Address of the site binding.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="port" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The port number of the site binding.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="host_header" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Host name information for the site binding.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ssl_flags" type="x-iis78-sc:EntityItemBindingSSLFlagsType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Flags associated with the SSL settings in the site binding.  This element is applicable only to IIS 8/8.5</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- IIS Site SystemWeb Test -->
    <!-- =============================================================================== -->
    <xsd:element name="systemweb_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>
                The SystemWeb configuration item collects site, application, and virtual directory information contained in the respective systemWeb configuration.
            </xsd:documentation>
            <xsd:documentation>
                Each item extends the standard ItemType as defined in the oval-system-characteristics-schema and one should refer to the ItemType description for more information.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="site_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The name of the IIS managed Site</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="application_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The name of the application.  This value will be empty for site-level configuration information, as well as for virtual directories which are non-application related.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="virtual_directory_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The name of the virtual directory.  This value will be empty for site-level configuration information, as well as for application-related configurations.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="authentication_mode" type="x-iis78-sc:EntityItemAuthenticationModeType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the default authentication mode for an application</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="forms_require_ssl" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates whether the site requires SSL</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="forms_cookieless" type="x-iis78-sc:EntityItemCookielessType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates how forms authentication uses cookies</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="forms_protection" type="x-iis78-sc:EntityItemProtectionType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The cookie protection mode defines the protection Forms Authentication cookies will be given within a configured application</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="forms_credential_format" type="x-iis78-sc:EntityItemCredentialFormatType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates how authentication credentials are protected</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        
                        <xsd:element name="retail" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates if the site utilizes the retail deployment method</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="debug" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates if the site's debug information is enabled</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="custom_errors" type="x-iis78-sc:EntityItemCustomErrorsType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies how custom error messages are displayed to users</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="session_state_cookieless" type="x-iis78-sc:EntityItemCookielessType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates how the session cookies are enabled</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="http_only_cookies" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates to the user agent whether or not the cookie is accessible by client-side script</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="trace_enabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates if the ASP.NET code tracing service is enabled</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="machine_key_validation" type="x-iis78-sc:EntityItemMachineKeyValidationType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates the algorithm and keys that ASP.NET will use for encryption</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="trust_level" type="x-iis78-sc:EntityItemTrustLevelType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the trust level under which the application will run.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="http_error_mode" type="x-iis78-sc:EntityItemHttpErrorModeType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Indicates how detailed error messages are displayed to users</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!-- =============================================================================== -->
    <!-- Data Types -->
    <!-- =============================================================================== -->
    <xsd:complexType name="EntityItemAuthenticationModeType">
        <xsd:annotation>
            <xsd:documentation>
                Specifies the default authentication mode for an application.
                The empty string is also allowed to support empty element associated with variable references. Note that when using pattern matches and 
                variables care must be taken to ensure that the regular expression and variable values align with the enumerated values.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="Windows">
                    <xsd:annotation>
                        <xsd:documentation>Specifies Windows authentication as the default authentication mode. Use it with any form of Microsoft Internet Information Services (IIS) authentication: Basic, Digest, Integrated Windows authentication (NTLM/Kerberos), or certificates. In this case, your application delegates the authentication responsibility to the underlying IIS.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Forms">
                    <xsd:annotation>
                        <xsd:documentation>Specifies ASP.NET forms–based authentication as the default authentication mode.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Passport">
                    <xsd:annotation>
                        <xsd:documentation>Specifies Microsoft Passport Network authentication as the default authentication mode.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="None">
                    <xsd:annotation>
                        <xsd:documentation>Specifies no authentication. Your application expects only anonymous users or the application provides its own authentication.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with variable references.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="EntityItemCookielessType">
        <xsd:annotation>
            <xsd:documentation>
                Defines whether cookies are used and their behavior.
                The empty string is also allowed to support empty element associated with variable references. Note that when using pattern matches and 
                variables care must be taken to ensure that the regular expression and variable values align with the enumerated values.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="UseUri">
                    <xsd:annotation>
                        <xsd:documentation>The calling feature uses the query string to store an identifier, regardless of whether the browser or device supports cookies</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="UseCookies">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that cookies will always be used, regardless of the device.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="AutoDetect">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that cookies are used, if the device profile supports cookies; otherwise, cookies are not used.</xsd:documentation>
                        <xsd:documentation>For desktop browsers that are known to support cookies, a probing mechanism will be used to try to use cookies, when enabled. If a device does not support cookies, no probing mechanism will be used.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="UseDeviceProfile">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that cookies are used, if the browser supports cookies; otherwise, cookies are not used.</xsd:documentation>
                        <xsd:documentation>For devices that support cookies, no attempt is made to probe to determine whether cookie support is enabled.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="true">
                    <xsd:annotation>
                        <xsd:documentation>true</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="false">
                    <xsd:annotation>
                        <xsd:documentation>false</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with variable references.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="EntityItemProtectionType">
        <xsd:annotation>
            <xsd:documentation>
                The cookie protection mode defines the protection Forms Authentication cookies will be given within a configured application
                The empty string is also allowed to support empty element associated with variable references. Note that when using pattern matches and 
                variables care must be taken to ensure that the regular expression and variable values align with the enumerated values.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="All">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that the application uses both data validation and encryption to help protect the cookie. This option uses the configured data validation algorithm, which is based on the machineKey element. Triple-DES (3DES) is used for encryption, if it is available and if the key is long enough (48 bytes or more). All is the default, and recommended, value.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="None">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that the cookie is encrypted by using 3DES or DES, but data validation is not performed on the cookie. Cookies used in this manner might be subject to chosen plain-text attacks.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Encryption">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that both encryption and validation are disabled for sites that are using cookies only for personalization and have less stringent security requirements. You should not use cookies in this manner; however, it is the least resource-intensive way to enable personalization in the .NET Framework.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Validation">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that a validation scheme verifies that the contents of an encrypted cookie have not been changed in transit. The cookie is created by using cookie validation by concatenating a validation key with the cookie data, computing a message authentication code (MAC), and appending the MAC to the outgoing cookie.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with variable references.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="EntityItemCredentialFormatType">
        <xsd:annotation>
            <xsd:documentation>
                Specifies the encryption format for storing passwords.
                The empty string is also allowed to support empty element associated with variable references. Note that when using pattern matches and 
                variables care must be taken to ensure that the regular expression and variable values align with the enumerated values.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="Clear">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that passwords are not encrypted.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="SHA1">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that passwords are encrypted with the SHA1 hash algorithm.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="MD5">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that passwords are encrypted with the MD5 hash algorithm.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with variable references.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="EntityItemCustomErrorsType">
        <xsd:annotation>
            <xsd:documentation>
                Specifies whether custom errors are enabled, disabled, or shown only to remote clients.
                The empty string is also allowed to support empty element associated with variable references. Note that when using pattern matches and 
                variables care must be taken to ensure that the regular expression and variable values align with the enumerated values.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="RemoteOnly">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that custom errors are shown only to the remote clients, and that ASP.NET errors are shown to the local host. This is the default value.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="On">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that custom errors are enabled. If no defaultRedirect attribute is specified, users see a generic error. The custom errors are shown to the remote clients and to the local host.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Off">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that custom errors are disabled. The detailed ASP.NET errors are shown to the remote clients and to the local host.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with variable references.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="EntityItemMachineKeyValidationType">
        <xsd:annotation>
            <xsd:documentation>
                Specifies the type of encryption that is used to validate data.
                The empty string is also allowed to support empty element associated with variable references. Note that when using pattern matches and 
                variables care must be taken to ensure that the regular expression and variable values align with the enumerated values.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="MD5">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that ASP.NET uses the Message Digest 5 (MD5) hash algorithm to validate data. This algorithm produces better performance than SHA1.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="SHA1">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that ASP.NET uses the SHA1 hash algorithm to validate data. Use this algorithm for increased security.</xsd:documentation>
                        <xsd:documentation>This is the default value.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="3DES">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that ASP.NET uses the TripleDES algorithm to validate data. The TripleDES algorithm uses three successive iterations of the DES algorithm.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="AES">
                    <xsd:annotation>
                        <xsd:documentation>Specifies that ASP.NET uses the AES (Rijndael) algorithm to validate data.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="HMACSHA256">
                    <xsd:annotation>
                        <xsd:documentation>HMACSHA256</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="HMACSHA384">
                    <xsd:annotation>
                        <xsd:documentation>HMACSHA384</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="HMACSHA512">
                    <xsd:annotation>
                        <xsd:documentation>HMACSHA512</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with variable references.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="EntityItemTrustLevelType">
        <xsd:annotation>
            <xsd:documentation>
                Specifies the trust level under which the application will run. Each trust level is mapped to an 
                individual XML policy file using a trustLevel element in the configuration file. The policy file 
                lists the set of permissions that are granted by each trust level.  
                Note that when using pattern matches and variables care must be taken to ensure that the regular 
                expression and variable values align with the enumerated values.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="Full">
                    <xsd:annotation>
                        <xsd:documentation>Specifies unrestricted permissions and grants the ASP.NET application permissions to access any resource that is subject to operating system security; all privileged operations are supported</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="High">
                    <xsd:annotation>
                        <xsd:documentation>Specifies a high level of code access security which limits the application from doing the following: (a) Call unmanaged code, (b) Call serviced components, (c) Write to the event log, (d) Access Microsoft Windows Message Queuing queues, (e) Access ODBC, OLD DB, or Oracle data sources</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Medium">
                    <xsd:annotation>
                        <xsd:documentation>Specifies a medium level of code access security, which means that in addition to the restrictions for High, the ASP.NET application cannot do any of the following things: (a) Access files outside the application directory,(b) Access the registry</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Low">
                    <xsd:annotation>
                        <xsd:documentation>Specifies a low level of code access security, which means that in addition to the restrictions for Medium, the application is prevented from performing any of the following actions: (a) Write to the file system, (b) Call the System.Security.CodeAccessPermission.Assert method to expand permissions to resources, (c) Minimal: specifies a minimal level of code access security, which means that the application has only execute permission</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Minimal">
                    <xsd:annotation>
                        <xsd:documentation>Specifies a minimal level of code access security, which means that the application has only execute permissions.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with variable references.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="EntityItemBindingSSLFlagsType">
        <xsd:annotation>
            <xsd:documentation>
                Specifies the type of binding used for Secure Sockets Layer (SSL) certificates.
                The empty string is also allowed to support empty element associated with variable references. Note that when using pattern matches and 
                variables care must be taken to ensure that the regular expression and variable values align with the enumerated values.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="IP_PORT">
                    <xsd:annotation>
                        <xsd:documentation>Only one certificate can be bound to a combination of IP address and the port.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="HOST_PORT_SNI">
                    <xsd:annotation>
                        <xsd:documentation>The secure connection be made using the port number and the host name obtained by using Server Name Indication (SNI)</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="SSL_CERT_WITHOUT_SNI">
                    <xsd:annotation>
                        <xsd:documentation>SSL certificate store without requiring a Server Name Indicator</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="SSL_CERT_WITH_SNI">
                    <xsd:annotation>
                        <xsd:documentation>SSL certificate store while requiring Server Name Indicator</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with variable references.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="EntityItemHttpErrorModeType">
        <xsd:annotation>
            <xsd:documentation>
                Specifies whether HTTP errors are enabled.
                The empty string is also allowed to support empty element associated with variable references. Note that when using pattern matches and 
                variables care must be taken to ensure that the regular expression and variable values align with the enumerated values.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="DetailedLocalOnly" >
                    <xsd:annotation>
                        <xsd:documentation>Returns detailed error information if the request is from the local computer, and returns a custom error message if the request is from an external computer.  The numeric value is 0.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Custom">
                    <xsd:annotation>
                        <xsd:documentation>Replaces the error that the module or server generates with a custom page that you specify. This mode is useful in providing friendlier error messages to end users.  The numeric value is 1.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="Detailed">
                    <xsd:annotation>
                        <xsd:documentation>Sends detailed error information back to the client. This mode is useful for testing and debugging Web sites and applications.  The numeric value is 2.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with variable references.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>
