x-ind-sc-sql57.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://oval.mitre.org/XMLSchema/x-ind-sc-sql57"
    xmlns:x-ind-sc="http://oval.mitre.org/XMLSchema/x-ind-sc-sql57"
    xmlns:sch="http://purl.oclc.org/dsdl/schematron"
    xmlns:oval="http://oval.mitre.org/XMLSchema/oval-common-5"
    xmlns:oval-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5"
    targetNamespace="http://oval.mitre.org/XMLSchema/x-ind-sc-sql57" elementFormDefault="qualified">
    <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5" schemaLocation="oval-system-characteristics-schema.xsd"/>
    <xsd:element name="sql57_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>The sql57_item outlines information collected from a database via an SQL query.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="engine" type="EntityItemEngineType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The engine entity identifies the specific database engine used to connect to the database.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="version" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The version entity identifies the version of the database engine used to connect to the database.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="connection_string" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The connection_string entity defines connection parameters used to connect to the specific database.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="sql" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The sql entity holds the specific query used to identify the object(s) in the database.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="result" type="oval-sc:EntityItemRecordType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>The result entity holds the results of the specified SQL statement.</xsd:documentation>
                                <xsd:appinfo>
                                    <sch:pattern id="ind-sc_sql57_itemresult">
                                        <sch:rule context="x-ind-sc:sql57_item/x-ind-sc:result">
                                            <sch:assert test="@datatype='record'"><sch:value-of select="../@id"/> - datatype attribute for the result entity of a sql57_item must be 'record'</sch:assert>
                                        </sch:rule>
                                    </sch:pattern>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="EntityItemEngineType">
        <xsd:annotation>
            <xsd:documentation>The EntityItemEngineType complex type defines a string entity value that is restricted to an enumeration. Each valid entry in the enumeration is a valid database engine.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="access">
                    <xsd:annotation>
                        <xsd:documentation>The access value describes the Microsoft Access database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="db2">
                    <xsd:annotation>
                        <xsd:documentation>The db2 value describes the IBM DB2 database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="cache">
                    <xsd:annotation>
                        <xsd:documentation>The cache value describes the InterSystems Cache database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="firebird">
                    <xsd:annotation>
                        <xsd:documentation>The firebird value describes the Firebird database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="firstsql">
                    <xsd:annotation>
                        <xsd:documentation>The firstsql value describes the FirstSQL database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="foxpro">
                    <xsd:annotation>
                        <xsd:documentation>The foxpro value describes the Microsoft FoxPro database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="informix">
                    <xsd:annotation>
                        <xsd:documentation>The informix value describes the IBM Informix database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="ingres">
                    <xsd:annotation>
                        <xsd:documentation>The ingres value describes the Ingres database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="interbase">
                    <xsd:annotation>
                        <xsd:documentation>The interbase value describes the Embarcadero Technologies InterBase database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="lightbase">
                    <xsd:annotation>
                        <xsd:documentation>The lightbase value describes the Light Infocon LightBase database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="maxdb">
                    <xsd:annotation>
                        <xsd:documentation>The maxdb value describes the SAP MaxDB database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="monetdb">
                    <xsd:annotation>
                        <xsd:documentation>The monetdb value describes the MonetDB SQL database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="mimer">
                    <xsd:annotation>
                        <xsd:documentation>The mimer value describes the Mimer SQL database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="mysql">
                    <xsd:annotation>
                        <xsd:documentation>The mysql value describes the MySQL database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>                    
                <xsd:enumeration value="oracle">
                    <xsd:annotation>
                        <xsd:documentation>The oracle value describes the Oracle database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="paradox">
                    <xsd:annotation>
                        <xsd:documentation>The paradox value describes the Paradox database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="pervasive">
                    <xsd:annotation>
                        <xsd:documentation>The pervasive value describes the Pervasive PSQL database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="postgre">
                    <xsd:annotation>
                        <xsd:documentation>The postgre value describes the PostgreSQL database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="sqlbase">
                    <xsd:annotation>
                        <xsd:documentation>The sqlbase value describes the Unify SQLBase database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="sqlite">
                    <xsd:annotation>
                        <xsd:documentation>The sqlite value describes the SQLite database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="sqlserver">
                    <xsd:annotation>
                        <xsd:documentation>The sqlserver value describes the Microsoft SQL database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="sybase">
                    <xsd:annotation>
                        <xsd:documentation>The sybase value describes the Sybase database engine.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="odbc">
                    <xsd:annotation>
                        <xsd:documentation>Temporary, to support connecting to any database via ODBC</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for detailed error reporting.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>
